@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width:992px){

    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login{
        width: 80vw;
        display: flex;
    }

    section#login > div#imagem{
        width: 30%;
        height: 100%;
        background-position: right top;
    }

    section#login > div#formulario{
        width: 50%;
    }
}

@media screen and (min-width:992px){

    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    
    section#login{
        width: 950px;
        display: flex;
    }

    section#login > div#imagem{
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario{
        width: 50%;
        height: 100%;
    }

}